{% extends 'base.html' %}
{% load static %}
{% block title %} Бар "ДЕПО" {% endblock title%}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
   <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
         <div class="col-lg-8">
            <h1>Добро пожаловать в</h1>
            <h1><span>Бар "ДЕПО"</span></h1>
            <h2>Фирменные настойки и уютная атмосфера</h2>
            <div class="btns">
               <a href="{% url 'menu' %}" class="btn-menu animated fadeInUp scrollto">Наше меню</a>
            </div>
         </div>
      </div>
   </div>
</section><!-- End Hero -->
<main id="main">
   <!-- ======= About Section ======= -->
   <section id="about" class="about">
      <div class="container" data-aos="fade-up">
         <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
               <div class="about-img">
                  <img src="{% static 'assets/img/gallery/gallery-9.jpg' %}" alt="">
               </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
               <h3>Бар "ДЕПО" на Малой Митрофаньевской 5</h3>
               <p class="fst-italic">
                  Вы ищите место, в котором хотите вкусно пообедать, а может Вы желаете поужинать в кафе, но не
                  можете ничего подобрать под свой вкус? Хотите встретиться с друзьями в хорошей и приятной
                  обстановке или поужинать в кафе со своей любимой? Приходите к нам, в наш уютный бар!
               </p>
               <ul>
                  <li><i class="bi bi-check-circle"></i> В нашем баре Вы без труда реализуете свою встречу с
                     друзьями в расслабляющей обстановке, покушать вкусные блюда и попробовать фирменные
                     настойки.
                  </li>
                  <li><i class="bi bi-check-circle"></i> Тематическое оформление нашего бара погрузит Вас в тёплую
                     и приятную атмосферу вечера и наполнит пололожительными эмоциями.
                  </li>
                  <li><i class="bi bi-check-circle"></i> Зайти поужинать к нам в бар ещё обязательно надо по
                     причине того, что у нас проводятся тематические вечеринки, с живой музыкой.
                  </li>
               </ul>
               <p>
                  Так же нашем баре Вы можете отведать отличных бургеров, насладиться потрясающей коктейльной
                  картой из которой каждый наш клиент выберет себе, что-то по душе.
               </p>
            </div>
         </div>
      </div>
   </section><!-- End About Section -->
   <!-- ======= Gallery Section ======= -->
   <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">
         <div class="section-title">
            <h2>Галерея</h2>
            <p>Немного фотографий из нашего бара</p>
         </div>
      </div>
      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
         <div class="row g-0">
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-3.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-4.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-5.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-6.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-7.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-8.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-9.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-9.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-10.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-10.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-11.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-11.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-12.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-12.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-13.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-13.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-14.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-14.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-15.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-15.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="gallery-item">
                  <a href="{% static 'assets/img/gallery/gallery-16.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="{% static 'assets/img/gallery/gallery-16.jpg' %}" alt="" class="img-fluid">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </section><!-- End Gallery Section -->
   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
         <div class="section-title">
            <h2>Контакты</h2>
            <p>Наше расположение</p>
         </div>
      </div>
      <div data-aos="fade-up">
         <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acad6d0d0567a5ccf3af871cbde564d89d6d75124fd3820cef5aa820c46879bc3&amp;source=constructor"
            width="100%" height="400" frameborder="0"></iframe>
      </div>
   </section><!-- End Contact Section -->
</main><!-- End #main -->{% endblock content %}